body {
    background: linear-gradient(to top, rgb(145, 145, 175), rgb(99, 90, 178));
    /* background-color: black; */
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.main {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    height: 100vh;
    gap: 2%;

    padding: 0px;
    margin: 0px;
}

h1, h2, h3, p {
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}

.searchBarTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(192, 87, 87); */
    /* padding: 0px 30px; */
    margin: 0px;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 0px;
    width: 63%;

    position: absolute;
    top: 5%;
    left: 3%;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.searchBarInput {
    padding: 10px 5px;
    margin: 0px;
    box-sizing: border-box;
    text-indent: 20px;
    font-size: 2.5vh;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 50%;
    height: 40%;
}

.searchButton {
    margin-left: 2%;
    width: 20%;
    height: 100%;
    font-size: 2vh;
    box-sizing: border-box;
    padding: 12px;

    background-color:  rgba(47, 46, 51, 0.5);
    transition: 0.4s;
}

.searchButton:hover {
    background-color:  rgb(47, 46, 51);
}

.title {
    text-shadow: 0px 0px 5px black;
}

.weatherForDayContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 63%;
    height: 40%;
    gap: 3%;
    background-color: rgba(47, 46, 51, 0.5);
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;    
    padding: 20px;
    padding-bottom: 5px;


    position: absolute;
    left: 3%;
    top: 15%;
}

.titleForDay {
    display: flex;
    gap: 5%;
}

.contentForDay {
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.weatherForDayIcon {
    height: 25vh;   
    /* background-color: white; */
}

.leftSideForDay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.224);
    font-size: 1.5vh;
    
    width: 50%;
}

.leftSideDayInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
}

.rightSideForDay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    font-size: 3vh;

    align-items: center;
    
    width: 50%;
    height: 80%;
    text-align: right;
    /* background-color: grey; */
}

.forecastContainer {
    background-color:  rgba(47, 46, 51, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 90%;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px;

    position: absolute;
    right: 3%;
    top: 5%;

}

.forecastTitleContainer {
    /* background-color: rgb(81, 0, 255); */
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    /* font-size: 2.5vh; */
}

.forecastDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;

    gap: 10px;
}

.individualForecastData {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    box-sizing: border-box;
    /* padding: 10px; */
    font-size: 2vh;
    text-align: center;
    height: 18%;
    /* background: linear-gradient(to top, blue, rgb(24, 16, 117)); */
}

.dailyForecast {
    background-color:  rgba(47, 46, 51, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 63%;
    height: 37%;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 5px;

    position: absolute;
    left: 3%;
    bottom: 5%;
}

.dailyForecastDataContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: grey; */
    box-sizing: border-box;
    padding-bottom: 20px;

    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    width: 100%;
    height: 100%;
}

.individualDailyForecastData {
    text-align: center;
}

.dailyForecastDates {
    color: rgba(255, 255, 255, 0.617);
}

.forecastIcons {
    height: 12vh;
    width: auto;

    /* background-color: white; */
}