body {
    background: linear-gradient(to top, blue, rgb(5, 0, 51));
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.main {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;

    padding: 0px;
    margin: 0px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

h2 {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

.titleCardContainer {
    /* background-color: grey; */
    padding: 30px;
    padding-left: 0px;
    margin: 0px;
    box-sizing: border-box;

    width: 80%;
}

.searchBarContainer {
    /* background-color: rgb(192, 87, 87); */
    /* padding: 0px 30px; */
    margin: 0px;
    box-sizing: border-box;

    width: 80%;
}

.searchBarInput {
    padding: 10px 5px;
    margin: 0px;
    /* box-sizing: border-box; */
    width: 30%;
}

.weatherForDayContainer {
    display: flex;
    /* justify-content: space-between; */
    /* background-color: rgb(228, 132, 132); */
    box-sizing: border-box;
    /* padding: 100px 0px; */
    width: 80%;
}

.weatherForDayIcon {
    height: 12vw;   
    /* background-color: white; */
}

.weatherForDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: rgb(95, 95, 95); */
}

.forecastContainer {
    background-color: rgb(5, 0, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* height: 40vh; */
    box-shadow: 0px 0px 20px white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px;

}

.forecastTitleContainer {
    /* background-color: rgb(81, 0, 255); */
    text-align: left;
    width: 100%;
    padding-bottom: 1vh;
}

.forecastDataContainer {
    display: flex;
    width: 100%;

    gap: 10px;
}


.individualForecastData {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    box-sizing: border-box;
    /* padding: 10px; */
    width: 50%;
    font-size: 2vh;
    text-align: center;
    background: linear-gradient(to top, blue, rgb(223, 220, 255));
}



.forecastIcons {
    height: 15vh;
    width: auto;

    /* background-color: white; */
}