html {
    background: linear-gradient(rgb(145, 145, 175));
}

body {
    background: linear-gradient(to top, rgb(145, 145, 175), rgb(99, 90, 178));
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    height: 100vh;
    gap: 2%;

    padding: 0px;
    margin: 0px;
}

h1, h2, h3, p {
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}


.searchBarTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    box-sizing: border-box;
    padding-right: 20px;
    width: 63%;
    height: 10%;
    gap: 5%;

    transition: 0.5s;
    position: absolute;
    top: 5%;
    left: 3%;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.searchBarInput {
    box-sizing: border-box;
    text-indent: 20px;
    font-size: 2vh;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 50%;
    height: 60%;
    transition: 0.5s;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 20%;
    border-radius: 5px;
}

button {
    margin-left: 2%;
    width: 20%;
    height: 100%;
    font-size: 2vh;
    box-sizing: border-box;
    /* padding: 12px; */

    background-color: rgba(47, 46, 51, 0.5);
    transition: 0.5s;
}

button:hover {
    background-color: rgb(47, 46, 51);
}

.title {
    text-shadow: 0px 0px 5px black;
    font-size: 6vh;
    font-weight: 500;
}

.weatherForDayContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 63%;
    height: 40%;
    gap: 3%;
    background-color: rgba(47, 46, 51, 0.5);
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 5px;

    transition: 0.5s;
    position: absolute;
    left: 3%;
    top: 16%;
}

.titleForDay {
    display: flex;
    gap: 5%;
    font-size: 1.8vh;
}

.contentForDay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.weatherForDayIcon {
    height: 25vh;
}

.leftSideForDay {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.224);
    font-size: 1.5vh;
    width: 50%;
}

.leftSideDayInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    width: 100%;
}

.rightSideForDay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    font-size: 2vh;
    font-weight: bold;
    align-items: start;
    text-align: center;
    transition: 0.5s;
    width: 50%;
    height: 100%;
}

.rightSideMetricDisplay {
    display: flex;
    flex-direction: column;
}

.forecastContainer {
    background-color: rgba(47, 46, 51, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 90%;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 10px;

    position: absolute;
    right: 3%;
    top: 5%;

}

.forecastTitleContainer {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.8vh;
    transition: 0.5s;
}

.forecastDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    gap: 10px;
}

.individualForecastData {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 2vh;
    text-align: center;
    height: 18%;

    transition-duration: 0.5s;
    cursor: pointer;
}

.individualForecastData:hover {
    background-color: rgb(47, 46, 51);
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.dailyForecast {
    background-color: rgba(47, 46, 51, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 63%;
    height: 37%;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 5px;
    font-size: 1.8vh;

    transition: 0.5s;
    position: absolute;
    left: 3%;
    bottom: 5%;
}

.dailyForecastDataContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: grey; */
    box-sizing: border-box;
    padding-bottom: 20px;

    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    width: 100%;
    height: 100%;
}

.individualDailyForecastData {
    text-align: center;
}

.dailyForecastDates {
    color: rgba(255, 255, 255, 0.617);
}

.dailyForecastSelectionContainer {
    display: flex;
    height: 30%;
    width: 100px;
    box-sizing: border-box;
    padding: 20px;

    transition: 0.5s;
    position: absolute;
    top: 5px;
    right: 50px;
}

select {
    background-color: rgba(47, 46, 51, 0.5);
    width: 100%;
    height: 100%;
    font-size: 2.2vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition-duration: 0.5s;
}

select:hover {
    background-color: rgb(47, 46, 51);
}

.forecastIcons {
    height: 12vh;
    width: auto;
    transition: 0.5s;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 50%;
    background: linear-gradient(to top, rgb(68, 68, 170), rgb(89, 82, 157));
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;

    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.504);
    border: 1px solid gray;

    position: absolute;
    right: 20%;
    bottom: 25%;
}


.modalBackground {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 999;
    position: absolute;
    top: 0%;
    left: 0%;
}

.modalForecast {
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
}

.selectedForecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Small-Medium Phones */
@media screen and (orientation: portrait) and (max-width: 768px) {
    .title {
        font-size: 4vh;
    }

    .searchBarInput {
        width: 70%;
        height: 45%;
        font-size: 1.5vh;
        text-indent: 0px;
    }

    .searchButton {
        width: 40%;
        height: 45%;
    }

    .titleForDay {
        flex-direction: column;
        text-align: center;
    }

    .rightSideForDay {
        display: none;
    }

    .leftSideDayInfo {
        font-size: 1.5vh;
        border-right: none;
    }

    .leftSideForDay {
        border-right: none;
        justify-content: center;
        width: 100%;
    }

    .weatherForDayIcon {
        height: 18vh;
    }

    .dailyForecastSelectionContainer {
        right: -2%;
        width: 90px;
        height: 25%;
   }

    .forecastContainer {
        left: 3%;
        top: 98%;   
    }

    .forecastTitleContainer, .individualForecastData, .dailyForecast {
        font-size: 1.5vh;
    }

    .forecastIcons {
        height: 10vh;
    }

    .weatherForDayContainer, .dailyForecast, .searchBarTitleContainer, .forecastContainer {
        width: 94%;
    }

    .modalBackground, .modal {
        position: fixed;
    }

    .modalForecast {
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        gap: 0%;
    }

    .modal {
        width: 80%;
        left: 10%;
        text-align: center;
        font-size: 1vh;
    }

    .selectedForecast {
        flex-direction: row;
        text-align: center;
    }
}

/* Larger Tablets/Small Laptops */
@media screen and (orientation: portrait) and (min-width: 769px) and (max-width: 1299px) {
    .rightSideForDay {
        font-size: 2.5vh;
        text-align: right;
        width: 50%;
    }

    .leftSideDayInfo {
        font-size: 2vh;
    }

    .weatherForDayIcon {
        height: 20vh;
    }

    .forecastContainer {
        left: 3%;
        top: 98%;
    }

    .weatherForDayContainer, .dailyForecast, .searchBarTitleContainer, .forecastContainer {
        width: 94%;
    }

    .modalBackground, .modal {
        position: fixed;
    }

    .modalForecast {
        justify-content: flex-start;
    }

    .modal {
        width: 80%;
        left: 10%;
    }
}

/* Phones in Landscape */
@media screen and (orientation: landscape) and (max-width: 1299px) and (max-height: 512px) and (hover: none) {
    .dailyForecastSelectionContainer {
        right: 0%;
        width: 75px;
        height: 70px;
   }

   .modal {
    text-align: center;
    font-size: 2vh;
}
}

/* Smaller Laptop Screens */
@media screen and (orientation: landscape) and (min-width: 769px) and (max-width: 1299px) and (min-height: 513px) {
    .leftSideForDay {
        width: 30%;
        flex-direction: column;
    }

    .rightSideForDay {
        font-size: 2.5vh;
        text-align: center;
        width: 70%;
    }

    .searchButton {
        width: 25%;
    }

    .searchBarInput {
        width: 75%;
    }

    .dailyForecastSelectionContainer {
        right: 2%;
    }

    .forecastTitleContainer, .leftSideDayInfo {
        font-size: 1.5vh;
    }

    .searchBarTitleContainer {
        width: 58%;
    }

    .forecastContainer {
        width: 35%;
    }

    .weatherForDayContainer, .dailyForecast {
        width: 57%;
    }

    .searchBarInput {
        font-size: 1.8vh;
    }

    .forecastIcons {
        height: 8vh;
    }

    .weatherForDayIcon {
        height: 15vh;
    }

    .modal {
        font-size: 1.5vh;
    }
}

/* Medium Sized Laptop Screens */
@media screen and (orientation: landscape) and (min-width: 1300px) and (max-width: 1500px) {
    .rightSideForDay {
        font-size: 2.5vh;
    }

    .individualForecastData, .searchBarInput {
        font-size: 1.8vh;
    }
}